:root {
    --color-primary: #eb0045;
    --color-border: #848484;
    /** MOTION **/
    --transition-duration: 1s;
    --transition-cubic-bezier: cubic-bezier(0.17, 0.67, 0, 1.01);
}

body {
    margin: 50px;
    padding: 50px;
    background: #f3f3f3;
}

.toggle {
    position: absolute;
}

.toggle-cb {
    position: relative;
    width: 120px;
    height: 42px;
    appearance: none;
    background-color: #ece6e6;
    border-radius: 20px;
    border: 2px solid #b9b4b4;
}

.toggle-cb:checked {
    background: var(--color-primary);
}

.toggle-cb::before {
    content: "";
    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 2px solid #b9b4b4;
    top: -3px;
    left: 0;
    background: #FFFFFF;
    transform: scale(1.1);
    transition: .5s;
}

.toggle-cb:checked::before, .toggle-inner::after {
    left: 80px;
}

.toggle-label::before {
    content: "Yes";
    position: absolute;
    height: 20px;
    color: #FFFFFF;
    top: .2rem;
    left: 20px;
    font-size: 2rem;
    font-family: 'aktiv-grotesk', sans-serif;
    display: none;
}

.toggle-cb:checked ~ .toggle-label::before {
    display: block;
}

.toggle-label::after {
    content: "No";
    position: absolute;
    height: 20px;
    top: .2rem;
    right: 20px;
    font-size: 2rem;
    font-family: 'aktiv-grotesk', sans-serif;
    opacity: 0.2;
    font-weight: 700;
}

.toggle-cb:checked ~ .toggle-label::after {
    display: none;
}
